<h2>Login</h2>
<p>Sign in with your username and password here.</p>
<form class="flex flex-col w-4/12">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input
      matInput
      formControlName="username"
      autocomplete="username"
      type="text"
      placeholder="Placeholder"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="username"
      type="password"
      autocomplete="current-password"
      placeholder="Placeholder"
    />
  </mat-form-field>
  <button mat-raised-button color="primary">Login</button>
</form>
<a href="#" class="text-blue-600 block mt-4">New User? Sign up here</a>
