<h2>Login</h2>
<p>Sign in with your username and password here.</p>
<form [formGroup]="loginForm" class="flex flex-col w-4/12">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input
      matInput
      formControlName="username"
      autocomplete="username"
      type="text"
    />
    <mat-error *ngIf="loginForm.controls.username.invalid">Username field is empty.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="password"
      type="password"
      autocomplete="current-password"
    />
    <mat-error *ngIf="loginForm.controls.password.invalid">Password field is empty.</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary">Login</button>
</form>
<p>{{ loginForm.controls.username.value }}</p>
<a href="#" class="text-blue-600 block mt-4">New User? Sign up here</a>
